<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Edit Post')">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>
<form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}" >
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{body}" />
    <br />
    <input type="submit" value="Edit"/>
</form>

<!-- Delete Button -->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" th:action="@{/posts/{id}/delete(id=${post.id})}">
            <input type="submit" class="btn btn-block btn-danger" value="Delete This Post" />
        </form>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>